# Miscellaneous
sideload_webui/*.class
sideload_webui/*.log
sideload_webui/*.pyc
sideload_webui/*.swp
sideload_webui/.DS_Store
sideload_webui/.atom/
sideload_webui/.buildlog/
sideload_webui/.history
sideload_webui/.svn/
sideload_webui/migrate_working_dir/

# IntelliJ related
sideload_webui*/.iml
sideload_webui*/.ipr
sideload_webui*/.iws
sideload_webui/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
sideload_webui/**/doc/api/
sideload_webui/**/ios/Flutter/.last_build_id
sideload_webui/.dart_tool/
sideload_webui/.flutter-plugins
sideload_webui/.flutter-plugins-dependencies
sideload_webui/.pub-cache/
sideload_webui/.pub/
sideload_webui/build/

# Symbolication related
sideload_webui/app.*.symbols

# Obfuscation related
sideload_webui/app.*.map.json

# Android Studio will place build artifacts here
sideload_webui/android/app/debug
sideload_webui/android/app/profile
sideload_webui/android/app/release

sideload_webui/.vscode
sideload_webui/build.sh
nonebot_plugin_sideload/__pycache__/config.cpython-310.pyc
nonebot_plugin_sideload/__pycache__/__init__.cpython-310.pyc
